/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal icon component.
 */

/* Icon. */
.icon {
  color: inherit;
  font-family: "Material Icons", sans-serif;
  font-size: 24px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* Color gray light. */
.colorGrayLight {
  color: var(--gray-light);
}

/* Color primary. */
.colorPrimary {
  color: var(--primary);
}
